<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<!-- Category: [|CATID|] : [|CATNAME|] [|CATCODE|] -->
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Tucson [|CATNAME|]</title>
<link rel="stylesheet" href="/boxy.css" type="text/css" />
<script src="/js2/prototype.js"></script>
<script type="text/javascript" src="/js2/ab_utils.js"></script>
<script src="/adshare/diane.js"></script>
</head>

<body>
[|MENUDIVS|]


<div class="popup" id="placeAddForm">
</div>

<div class="adsense"><center><A HREF="http://abra.info/"><img src="/imgs/abracat.png" alt="Powered by ABRA" border=0 valign=center></A>&nbsp;<script type="text/javascript"
  src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script></center></div>

<div class="ab_navbar">
[|DIVCATPATH|]
</div>
	


<div id="content">
  <h1 class="catname"><A HREF="http://btucson.com/">Tucson</A> [|CATNAME|]</h1>

    <span style="float: right; font-size: small">
	<A HREF="javascript:ab_show_popwin('placeAddForm','/inc/add_to_cat.php?CATID=[|CATID|]&CATNAME=[|CATNAME|]')">add item</A> | <A HREF="/php/access_user/register.php?title=Tucson%20Pages&next_url=http://btucson.com/">register</A> | <a href="http://btucson.com/php/access_user/login.php">login</A> 

    </span>	

  <div class="feature"> 
    <span style="float: left">What's new on the SuperBlog</span>
<br>

[|BLOGROLL|]
  </div>




  <div class="story">
~TOPITEMS~ <H3>[|NAME|]</H3>[|?LINK?:"<A CLASS=blogextlink HREF='"|][|LINK|][|?LINK?:"'>"|][|LINK|][|?LINK?:"</A><br>"|][|ADDR|][|?ADDR?:"<br>"|][|PHONE|][|?PHONE?:"<br>"|][|SHORT_CONTENT|] </p>

<table width="100%">
~CATITEMS~ <tr><td align=left valign=top><b><A HREF="[|ITEMLINK|]">[|NAME|]</A></b> [|?LINK?:"<br><A CLASS=itemlink HREF='"|][|LINK|][|?LINK?:"'>"|][|LINK|][|?LINK?:"</A>"|][|?ADDR?:"<br>"|][|ADDR|][|?PHONE?:"<br>"|][|PHONE|][|?DISTRICT?:"<br>"|][|DISTRICT|][|?SHORT_CONTENT?:"<br>"|][|SHORT_CONTENT|]  [|?LOGIN?:"--"|][|LOGIN|]</td><td align=right valign=top>[|EDITLINKS|]</td></tr>
</table>

~SUBCATS~ <A NAME="[|CATTAG|]"></A> <h3>[|NAME|]</h3> [|ITEMLINKS|] [|SUBSUBCATS|]

 </div>

</div>
<!--end content -->
<div id="navBar">
  <div id="search">

<form method=get ACTION="/cgi-bin/wgtuc/webglimpse.cgi">

<input type=hidden name="ARCHID_1" value=3>
<input type=hidden name="ARCHID_2" value=1>

<input type=HIDDEN name=limit value="500:100">
<input type=HIDDEN name=cache value="yes">

<input type=hidden name="maxlines" value=5>
<input type=hidden name="maxchars" value=1500>


      <label>search</label>

<INPUT NAME=query size=10> <INPUT TYPE=submit VALUE=Go><br>
<p><A HREF="/cgi-bin/wgtuc/webglimpse.cgi?ID=1"><small>Advanced Search</small></A></p>
</FORM>


    
    </form>
  </div>
  <div id="sectionLinks">
    <ul>
~SUBCATS~ <li><A HREF="[|CATLINK|]">[|NAME|]</A> </li>
    </ul>
  </div>
  <div class="relatedLinks">
Related Categories
<UL>
~RELCATS~ <LI><A HREF="[|CATLINK|]">[|NAME|]</A></LI>
</UL>
  </div>
  <A NAME="add"></A>
<H3>FREE - add listings or comments in this category</H3>
<i>Please report spam or fraudulent listings <A HREF="http://iwhome.com/iwork/contact.html">here</A></i><br>

<small><A HREF="/php/access_user/register.php?title=Tucson%20Pages">Register to enter your free listing below!</A> | Already registered? <b><A HREF="/php/access_user/login.php">login here</A></b></small><br>
<FORM action="/cgi/blogform.pl" method=post ">

<p>
<input type=HIDDEN name="_REPLY" value="http://btucson.com/thankyou.php">
<!-- Also don't change the names of the input tags.  Anything else below is fair game -->
Listing Title : <input name="title" size=20>
<p>
Listing Text :
<textarea rows=3 cols=20 name="SHORT_CONTENT"></textarea>
<p>
Category :
<SELECT name="_catid">
<OPTION value=308> Schools & Universities
</SELECT>
<p>
URL: <input name="URL" size=25><br>
Phone: <input name="TYPE:ab_biz_org:phone" size=25><br>
Address: <input name="TYPE:ab_biz_org:addr" size=25><br>
<p>
Guest posts welcome - if you are a human, please finish this line: <i>Humpty Dumpty sat on a <input name="human_check_1" size=4 maxlength=4></i>
<p>
<input type=submit value="Post">
</FORM>

<div id="siteInfo"><a href="mailto:diane@roadsoflife.com">Contact bTucson.com</a> | &copy;2007 bTucson </div>

<br />
<script src="http://www.google-analytics.com/urchin.js" type="text/javascript">
</script>
<script type="text/javascript">
_uacct = "UA-753026-1";
urchinTracker();
</script>
</body>
</html>
