[|CATID:307|]
<table bgcolor='#af8040' cellpadding=3 align=right>
<caption>
<b>Latest Listings :</b>
</caption>
<br>

~CATITEMS~ <tr><td><b><small>[|EFFECTIVE_DATE|]</small></b> [|ITEMCATPATH|]<br> [|?LINK?:"<A HREF='"|][|LINK|][|?LINK?:"'>"|]<b>[|NAME|]</b>[|?LINK?:"</A>"|][|?SHORT_CONTENT?:" : "|][|SHORT_CONTENT|]  <small><A HREF="[|URL|]">[|DISPLAY_URL|]</A></small><br>[|CONTENT|]<p></td></tr>

</table>

