<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<!-- Category: [|CATID|] : [|CATNAME|] [|CATCODE|] -->
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<meta description="[|META_DESCRIP|]" />
<title>Tucson [|CATNAME|] for Mobile</title>
<script type="text/javascript" src="/js2/urchin.js"></script>

</head>

<body> <!-- depends on TopAdCode and leftNavBar -->



<div style="background:#dddddd;">
<small>advertisement</small><br/>
<?php
$GLOBALS['google']['format']='mobile_single';
$GLOBALS['google']['https']=read_global('HTTPS');
$GLOBALS['google']['ip']=read_global('REMOTE_ADDR');
$GLOBALS['google']['markup']='xhtml';
$GLOBALS['google']['oe']='utf8';
$GLOBALS['google']['output']='xhtml';
$GLOBALS['google']['ref']=read_global('HTTP_REFERER');
$GLOBALS['google']['url']=read_global('HTTP_HOST') . read_global('REQUEST_URI');
$GLOBALS['google']['useragent']=read_global('HTTP_USER_AGENT');
$google_dt = time();
google_set_screen_res();
google_set_muid();
google_set_via_and_accept();
function read_global($var) {
  return isset($_SERVER[$var]) ? $_SERVER[$var]: '';
}

function google_append_url(&$url, $param, $value) {
  $url .= '&' . $param . '=' . urlencode($value);
}

function google_append_globals(&$url, $param) {
  google_append_url($url, $param, $GLOBALS['google'][$param]);
}

function google_append_color(&$url, $param) {
  global $google_dt;
  $color_array = split(',', $GLOBALS['google'][$param]);
  google_append_url($url, $param,
                    $color_array[$google_dt % sizeof($color_array)]);
}

function google_set_screen_res() {
  $screen_res = read_global('HTTP_UA_PIXELS');
  if ($screen_res == '') {
    $screen_res = read_global('HTTP_X_UP_DEVCAP_SCREENPIXELS');
  }
  if ($screen_res == '') {
    $screen_res = read_global('HTTP_X_JPHONE_DISPLAY');
  }
  $res_array = split('[x,*]', $screen_res);
  if (sizeof($res_array) == 2) {
    $GLOBALS['google']['u_w'] = $res_array[0];
    $GLOBALS['google']['u_h'] = $res_array[1];
  }
}

function google_set_muid() {
  $muid = read_global('HTTP_X_DCMGUID');
  if ($muid != '') {
    $GLOBALS['google']['muid'] = $muid;
  }
  $muid = read_global('HTTP_X_UP_SUBNO');
  if ($muid != '') {
    $GLOBALS['google']['muid'] = $muid;
  }
  $muid = read_global('HTTP_X_JPHONE_UID');
  if ($muid != '') {
    $GLOBALS['google']['muid'] = $muid;
  }
  $muid = read_global('HTTP_X_EM_UID');
  if ($muid != '') {
    $GLOBALS['google']['muid'] = $muid;
  }
}

function google_set_via_and_accept() {
  $ua = read_global('HTTP_USER_AGENT');
  if ($ua == '') {
     $GLOBALS['google']['via'] = read_global('HTTP_VIA');
     $GLOBALS['google']['accept'] = read_global('HTTP_ACCEPT');
  }
}

function google_get_ad_url() {
  $google_ad_url = 'http://pagead2.googlesyndication.com/pagead/ads?';
  google_append_url($google_ad_url, 'dt',
                    round(1000 * array_sum(explode(' ', microtime()))));
  foreach ($GLOBALS['google'] as $param => $value) {
    if ($param == 'client') {
      google_append_url($google_ad_url, $param,
                        'ca-mb-' . $GLOBALS['google'][$param]);
    } else if (strpos($param, 'color_') === 0) {
      google_append_color($google_ad_url, $param);
    } else if (strpos($param, 'url') === 0) {
      $google_scheme = ($GLOBALS['google']['https'] == 'on')
          ? 'https://' : 'http://';
      google_append_url($google_ad_url, $param,
                        $google_scheme . $GLOBALS['google'][$param]);
    } else {
      google_append_globals($google_ad_url, $param);
    }
  }
  return $google_ad_url;
}

$google_ad_handle = @fopen(google_get_ad_url(), 'r');
if ($google_ad_handle) {
  while (!feof($google_ad_handle)) {
    echo fread($google_ad_handle, 8192);
  }
  fclose($google_ad_handle);
}

?>

</div>

</div>

<A HREF="http://bTucson.com/">back to bTucson.com home</A>

  <h1 class="catname"><A HREF="http://btucson.com/">Tucson</A> [|CATNAME|]</h1>

~SUBCATS~ <A NAME="[|CATTAG|]"></A> <h3>[|NAME|]</h3> [|ITEMLINKS|] [|SUBSUBCATS|]

<form method=get ACTION="/cgi-bin/wgtuc/webglimpse.cgi">

<input type=hidden name="ID" value=2>

<input type=HIDDEN name=limit value="500:100">
<input type=HIDDEN name=cache value="yes">
<INPUT TYPE=HIDDEN NAME=autosyntax VALUE="ALL"> <!-- AND together all words instead of exact phrase -->

<input type=hidden name="maxlines" value=5>
<input type=hidden name="maxchars" value=1500>
      <label>search</label>

<INPUT NAME=query size=10> <INPUT TYPE=submit VALUE=Go><br/>
    
</form>
  <div class="feature"> 

[|BLOGROLL|]

  </div>


~TOPITEMS~ <H3>[|NAME|]</H3>[|?LINK?:"<A TARGET='btucson_external' CLASS=blogextlink HREF='"|][|LINK|][|?LINK?:"'>"|][|LINK|][|?LINK?:"</A><br/>"|][|ADDR|][|?ADDR?:"<br/>"|][|PHONE|][|?PHONE?:"<br/>"|][|SHORT_CONTENT|] </p>

<table class="catitems">
~CATITEMS~ <tr class="itemrow"><td align=left valign=top>[|?LOCAL_OWNOP?:"<img src='/imgs/buylocal.png'>"|]<b><A HREF="[|ITEMLINK|]">[|THUMBNAIL|][|NAME|]</A></b> [|?LINK?:"<br/><A TARGET='btucson_external' CLASS=itemlink HREF='"|][|LINK|][|?LINK?:"'>"|][|LINK|][|?LINK?:"</A>"|][|?ADDR?:"<br/>"|][|ADDR|][|?PHONE?:"<br/>"|][|PHONE|][|?DISTRICT?:"<br/>"|][|DISTRICT|][|?SHORT_CONTENT?:"<br/>"|][|SHORT_CONTENT|] [|READ_MORE|]  [|?LOGIN?:"--"|][|LOGIN|]</td><td align=right valign=top>[|EDITLINKS|]</td></tr>
</table>


<br />


<div id="siteInfo"><a href="/contact.html">Contact bTucson.com</a> | &copy;2010 bTucson
| powered by <A HREF="http://abra.info/">ABRA information manager</A> and <A href="http://webglimpse.net/">Webglimpse Search Software</A>
<br/>
More 'b' sites...<a href="http://bTeaching.com/">bTeaching : ideas for everyday learning</a> | <a href="http://bDallas.com/">bDallas : Dallas, TX</a>
</div>




  </div>
  <div id="sectionLinks">
~SUBCATS~ <A HREF="[|CATLINK|]">[|NAME|]</A> <br/>
  </div>
  <div class="relatedLinks">
Related Categories
<br/>
~RELCATS~ <A HREF="[|CATLINK|]">[|NAME|]</A><br/>
<br/>
 </div>
[|CAT_IMGS|]


<A HREF="http://bTucson.com/">back to bTucson.com home</A>
</body>
</html>
