<HTML><head>

<title>[|CATNAME|]</title>
 <base href="http://iwtucson.com/">

 <link href="/2col.css" rel="styleSheet" type="text/css">

 <script src="/js/prototype.js"></script>

</head>
<body bgcolor="#ffffff">


<center>
<H1>[|CATPATH|]</H1>

<script type="text/javascript" src="/js/adsense-728-90.js"></script>

<script type="text/javascript"
  src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>

<p>
<table border=1 width="100%"> |
~SUBCATS~ <A HREF="[|CATLINK|]">[|NAME|]</A> |
</table>
</center>
<div id="leftcol">

<div id="addform"></div>



<div id="rightcol"> 

<table bgcolor='#eeddbb' class=blog cellpadding=3 align=right>

~CATITEMS~ <tr><td><b><small>[|EFFECTIVE_DATE|]</small></b> [|ITEMCATPATH|]<br> [|?LINK?:"<A CLASS=bloglink HREF='"|][|LINK|][|?LINK?:"'>"|]<b>[|NAME|]</b>[|?LINK?:"</A>"|][|?SHORT_CONTENT?:" : "|][|SHORT_CONTENT|]  --[|LOGIN|]<small><A class=blogextlink HREF="[|URL|]">[|DISPLAY_URL|]</A></small><br>[|CONTENT|]<p></td></tr>

</table>

</div>
<br clear=all>
<div align=center id="fullscreen">


<img usemap="#t" border=0 src="tucsonbar2.gif">
<MAP NAME="t">
<AREA SHAPE="rect" COORDS="288,69,356,136" HREF="http://tucson/tucson/" target="_top">
<AREA SHAPE="rect" COORDS="217,70,286,137" HREF="/tucson/schools.html" target="_top">
<AREA SHAPE="rect" COORDS="146,71,216,137" HREF="/tucson/rec.html" target="_top">
<AREA SHAPE="rect" COORDS="74,68,143,136" HREF="http://tucson/biz" target="_top">
<AREA SHAPE="rect" COORDS="3,69,73,137" HREF="/tucson/gov/" target="_top">
<AREA SHAPE="rect" COORDS="287,-22,357,67" HREF="/tucson/news.html" target="_top">
<AREA SHAPE="rect" COORDS="216,-14,285,67" HREF="/tucson/housing" target="_top">
<AREA SHAPE="rect" COORDS="145,-18,216,69" HREF="/resources" target="_top">
<AREA SHAPE="rect" COORDS="74,-2,144,69" HREF="/tucson/community" target="_top">
<AREA SHAPE="rect" COORDS="3,0,73,68" HREF="/tucson/eating.html" target="_top"></MAP>
<br>




</center><br>
</div>
</body>
</HTML>
