<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<!-- Category: [|CATID|] : [|CATNAME|] [|CATCODE|] -->
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<meta description="[|META_DESCRIP|]" />
<title>Tucson [|CATNAME|]</title>
<link rel="stylesheet" href="/boxy.css" type="text/css" />
<link rel="shortcut icon" href="/favicon.ico" >
<script type="text/javascript" src="/js2/prototype.js"></script>
<script type="text/javascript" src="/js2/ab_utils.js"></script>
<script type="text/javascript" src="/js2/urchin.js"></script>

</head>

<body onLoad="rearrange_if_wide()"> <!-- depends on TopAdCode and leftNavBar -->
[|MENUDIVS|]


<div id="topAdCode">
<A HREF="http://www.americanvalet.com/cities_served/tucson.html"><IMG SRC="/paidadv/valet.gif" ALT="American Valet Parking Services"></A>
</div>


<div id="rightContent">



  <h1 class="catname"><A HREF="http://btucson.com/">Tucson</A> [|CATNAME|]</h1>
<div class="ab_navbar">
[|DIVCATPATH|] 
</div>
	


    <span style="float: right; font-size: small">
	<A HREF="javascript:ab_show_popwin('placeAddForm','/inc/add_to_cat.php?CATID=[|CATID|]&CATNAME=[|CATNAME|]')">add item</A>
	|
	<span id=loginelem> | [|LOGINLINK|]</span>

<script type="text/javascript">
if ( ab_have_session() ) {
	var mlogin = document.getElementById("loginelem");	
	mlogin.style.visibility = 'hidden';
}
</script>


    </span>
<br/>	

<div class="popup" id="placeAddForm">
</div>

  <div class="feature"> 

[|BLOGROLL|]

  </div>




~TOPITEMS~ <H3>[|NAME|]</H3>[|?LINK?:"<A TARGET='btucson_external' CLASS=blogextlink HREF='"|][|LINK|][|?LINK?:"'>"|][|LINK|][|?LINK?:"</A><br/>"|][|ADDR|][|?ADDR?:"<br/>"|][|PHONE|][|?PHONE?:"<br/>"|][|SHORT_CONTENT|] </p>

<table class="catitems">
~CATITEMS~ <tr class="itemrow"><td align=left valign=top>[|?LOCAL_OWNOP?:"<img src='/imgs/buylocal.png'>"|]<b><A HREF="[|ITEMLINK|]">[|NAME|]</A></b> [|?LINK?:"<br/><A TARGET='btucson_external' CLASS=itemlink HREF='"|][|LINK|][|?LINK?:"'>"|][|LINK|][|?LINK?:"</A>"|][|?ADDR?:"<br/>"|][|ADDR|][|?PHONE?:"<br/>"|][|PHONE|][|?DISTRICT?:"<br/>"|][|DISTRICT|][|?SHORT_CONTENT?:"<br/>"|][|SHORT_CONTENT|] [|READ_MORE|]  [|?LOGIN?:"--"|][|LOGIN|]</td><td align=right valign=top>[|EDITLINKS|]</td></tr>
</table>

~SUBCATS~ <A NAME="[|CATTAG|]"></A> <h3>[|NAME|]</h3> [|ITEMLINKS|] [|SUBSUBCATS|]

<br />

<hr>
<!-- ?php include "/home/sites/iwtucson/www/inc/add_to_cat_frag.php"; ? -->
<hr>
<?php include "/home/sites/iwtucson/www/js2/adsense-728-90-new.js"; ?>


<div id="siteInfo"><a href="/contact.html">Contact bTucson.com</a> | &copy;2010 bTucson 
| powered by <A HREF="http://abra.info/">ABRA information manager</A> and <A href="http://webglimpse.net/">Webglimpse Search Software</A>
<br/>
More 'b' sites...<a href="http://bTeaching.com/">bTeaching : ideas for everyday learning</a> | <a href="http://bDallas.com/">bDallas : Dallas, TX</a>
</div>


</div> <!-- rightContent -->


<div id="leftNavBar">

<!-- we output PHP now -->

<? include "/home/sites/iwtucson/www/inc/catpage_2imgs.html"; ?>

<A HREF="http://bTucson.com/"><img src="/BTucsonLogo200.png" alt="bTucson - a Community Driven Directory for Tucson, Arizona"></A>

  <div id="search">

<form method=get ACTION="/cgi-bin/wgtuc/webglimpse.cgi">

<input type=hidden name="ID" value=2>

<input type=HIDDEN name=limit value="500:100">
<input type=HIDDEN name=cache value="yes">
<INPUT TYPE=HIDDEN NAME=autosyntax VALUE="ALL"> <!-- AND together all words instead of exact phrase -->

<input type=hidden name="maxlines" value=5>
<input type=hidden name="maxchars" value=1500>
      <label>search</label>

<INPUT NAME=query size=10> <INPUT TYPE=submit VALUE=Go><br/>
<p><small><A HREF="/cgi-bin/wgtuc/webglimpse.cgi?ID=2&template=wgsimple.html">Search options</A>
<br/>
<A HREF="javascript:addBookmark('Tucson [|CATNAME|]',document.location);">Bookmark this page</A>
</small>
</p>
    
    </form>

  </div>
  <div id="sectionLinks">
~SUBCATS~ <A HREF="[|CATLINK|]">[|NAME|]</A> <br/>
  </div>
  <div class="relatedLinks">
Related Categories
<br/>
~RELCATS~ <A HREF="[|CATLINK|]">[|NAME|]</A><br/>
<br/>
 </div>
[|CAT_IMGS|]
<hr>
<?php include "/home/sites/iwtucson/www/inc/feature_headlines.html"?>
<br/>


  <A NAME="add"></A>
<H3><A HREF="javascript:ab_show_popwin('placeAddForm','/inc/add_to_cat.php?CATID=[|CATID|]&CATNAME=[|CATNAME|]')">Add listings or comments in this category - it's free.</A></H3>
<i>Please report spam or fraudulent listings <A HREF="/contact.html">here</A></i><p>

<A HREF="javascript:ab_show_popwin('placeAddForm','/inc/add_to_cat.php?CATID=[|CATID|]&CATNAME=[|CATNAME|]')">click here to add your listing</A>
<p>
<a href="http://del.icio.us/post" onclick="window.open('http://del.icio.us/post?v=4&noui&jump=close&url='+encodeURIComponent(location.href)+'&title='+encodeURIComponent(document.title), 'delicious','toolbar=no,width=700,height=400'); return false;"> Save This Page on del.icio.us</a>
<p>
<script type="text/javascript">
digg_skin = 'icon';
digg_window = 'new';
</script>
<script src="http://digg.com/tools/diggthis.js" type="text/javascript"></script>



</div> <!-- leftNavBar -->



<script src="http://www.google-analytics.com/urchin.js" type="text/javascript">
</script>
<script type="text/javascript">
_uacct = "UA-753026-1";
urchinTracker();
</script>

</body>
</html>
